body {
  background-color: lightblue;
}
.grid-container{
  display: grid;
  place-content: center;
  grid-gap: 10px;
  background-color: #2196F3;
  margin-top: 90px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  font-size: 15px;
  border-style: solid;
  border-color: black;
}
.header{
  grid-column: 1/6;
}
.img{
  height: 400px;
  width: 340px;
  grid-column: 2/3;
  grid-row: 2/4;
  }

.login{
  width: 250px;
  grid-column: 3/5;
  grid-row: 2/3;
}

.signup{
  width: 250px;
  grid-column: 3/5;
  grid-row: 3/4;
}

.div_input{
    height: 30px;
}

label {float: left;}
input, select {float: right;
      width: 50%;}

.header{
  display: grid;
  place-content: center;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;

  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

#post {float: left;
        width: 15%}

#browse_submit {float: left;
        width: 15%}

#browse_user {float: left;
              width: 25%}
#search {float: left;
          width: 10%}
